
.head {
    color: #FFFFFF;
    
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid ;
    position: absolute;

}

.head__logo {
    margin-bottom: 2rem;
}

.head__navegacion {
    text-align: center;
    width: 100%;
    height: 60px;
}
.head__enlace {
    font-size: 2.1rem;
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
    
}

@media screen and (min-width: 1024px) {
    .head{
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}

